#grid-container {

	display: grid;
	grid-template-columns: 400px 400px 400px;
	grid-template-rows: 120px 75px auto 100px;
	grid-template-areas:
		"head head head"
		"nav nav nav"
		"main main main"
		"foot foot foot";
	margin: 20px;
	height: 100%;
	justify-content: center;

}

#grid-container > div {

	justify-content: space-around;

}

body {

	font-family: Arial;
	height: 1000px;
	display: grid;
	background-color: whitesmoke;

}

header {

	grid-area: head;
	text-align: center;
	top: 0px;

}

header > h1 {

	font-size: 35pt;

}

nav {

	grid-area: nav;

}


#navbar {

	display: grid;
	grid-template-columns: auto auto auto auto;
	height: 65px;
	width: auto;
	background: lightgrey;
	border: 1px grey solid;
	border-radius: 15px;
	align-content: center;
}

#navbutton {

	border: 1px grey solid;
	border-radius: 10px;
	background: linear-gradient(lightgrey, white);
	align-content: center;
	height: 50px;
	margin: 5px;

}

#navbutton:hover {

	border: 1px black solid;
	background: linear-gradient(grey, lightgrey);
	z-index: 2;
	cursor: pointer;

}

#navbutton a {

	text-decoration: none;
	font-size: 15pt;
	color: black;
	display: block;
	height: 50px;
	align-content: center;

}

.active {

	background-color: lightblue;
	border: none;
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

main {

	grid-area: main;

}

section > h2, h3 {

	text-align: center;

}

section > p {

	text-align: left;
	margin-left: 25%;
	margin-right: 25%;
	line-height: 1.5;

}

img {

	width: 25%;
	margin: auto;

}

#photo {

	display: flex;

}

#main-container {

	border: 1px grey solid;
	border-radius: 15px;
	height: 100%;
	width: auto;
	justify-content: center;

}

#game-content {

	border: 1px grey solid;
	border-radius: 10px;
	align-content: center;
	height: 400px;
	width: auto;
	margin: 5px 5px;
	background-color: lightblue;
	text-align: center;

}

#how-to {

	text-align: center;

}

#testimonials {

	border: 1px grey solid;
	border-radius: 10px;
	display: grid;
	justify-content: center;
	align-content: center;
	margin: 5px 5px;

}

#testimonials > table {

	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto auto;

	
}

#contact-form {

	border: 1px grey solid;
	border-radius: 10px;
	display: grid;
	justify-content: center;
	align-content: center;
	margin: 5px 5px;
	background-color: lightblue;  

}

#main-container > form {

	grid-area: form;
	margin: 5px;
	top: 0px;

}

table {

	margin: 20px;

	line-height: 1.5;

}

tr {

	display: grid;
	justify-content: space-between;
	gap: 30px 50px;
	grid-template-areas:
		"name quote"
		"name quote"
		"name quote"
		"name quote";

}

#name {

	grid-area: name;
	justify-content: left;

}

#quote {

	grid-area: quote;
	max-width: 300px;
	justify-content: right;

}

input[type=text], [type=email], textarea, [type=submit] {

	box-sizing: border-box;
	width: 250px;
   	padding: 10px;
   	border: 1px solid gray;
   	border-radius: 10px;
   	display: grid;

}

input[type=submit] {

	justify-content: center;
	margin-bottom: 10px;

}

input[type=submit]:hover {

	background-color: lightgray;

}

footer {

	grid-area: foot;
	border: 1px grey solid;
	border-radius: 10px;
	align-content: center;
	height: 65px;
	width: auto;
	margin-top: 5px;
	background: lightgrey;
	text-align: center;
	bottom: 0px;

}

footer a {

	color: black;

}